<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   
    <xacro:macro name="hugmi_body" params="parent *origin"> 
        <joint name="base_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}"/>
            <child link="body"/>
        </joint>
        <link name="body">
            <inertial>
                <origin xyz="0.0028167 -0.00019454 0.019544" rpy="0 0 0" />
                <mass value="0.52663" />
                <inertia ixx="0.0006297" ixy="6.7091E-08" ixz="3.4682E-06" iyy="0.00095727" iyz="2.4476E-07" izz="0.0014514" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://hugmi_description/meshes/body_meshes/body_simplified.stl" />
                </geometry>
                <material name="">
                    <color rgba="0.79216 0.81961 0.93333 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="package://hugmi_description/meshes/body_meshes/body_simplified.stl" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

</robot>